{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}SnowTricks - Resend Email Verification
{% endblock %}

{% block main %}
	<div class="container main">
		<div class="d-flex flex-column justify-content-center">
			<h1 class="my-5 text-center text-md-start">Resend Email Verification</h1>
			{{ form_start(requestEmailVerif) }}
				{{ form_row(requestEmailVerif.email) }}
				<button type="submit" class="btn btn-primary mt-3">Send</button>
			{{ form_end(requestEmailVerif) }}
		</div>
	</div>
{% endblock %}
