{% for label, messages in app.flashes %}
{% if label is same as("notVerifiedError") %}
    <div class="alert alert-warning alert-dismissible mb-0" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            <strong>Your account is not activated</strong>, <a href="{{ path('app_resend_email_verif') }}">resend the activation link</a>.
        </div>
    </div>
{% else %}
    {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible mb-0" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            {{ message|raw }}
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endfor %}
