{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}SnowTricks - Forgotten password
{% endblock %}

{% block main %}
<div class="container main">
	<div class="d-flex flex-column justify-content-center">
		<h1 class="my-5 text-center text-md-start">Enter your email</h1>
        {{ form_start(requestForm) }}
        <div class="mb-3 text-center text-md-start">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            {{ form_widget(requestForm.email, {'attr': {'class': 'custom__field'}}) }}
            <div id="emailHelp" class="form-text">Enter your email address and we will send you a link to reset your password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
