header {
    height: 100vh;
}

.header__snowtricks-title {
    color: white;
    font-size: 5vw;
}

.header__snowtricks-font {
    font-family: 'Coiny', cursive;
    color: #00BBF0;
}

.header__snowtricks-lead {
    margin-top: 2em;
    letter-spacing: 0.1em;
    font-size: 4vw;
}

.header__snowtricks-lead-error {
    margin-top: .5em;
    letter-spacing: 0.1em;
    font-size: 4vw;
}