.main {
    min-height: 65vh;
    color: #51565a;
}

.snow-text {
    font-size: 1.2em;
    font-family: 'Coiny', cursive;
}

label {
    color: #005792;
}

h1 {
    color: #005792;
}

.btn-primary {
    color: white;
    background-color: #005792;
    border-color: #D9FAFF;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    filter: brightness(1.5);
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.custom__field {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #bbb;
    border-radius: 0;
    background-color: #D9FAFF;
}

.custom__field:focus {
    outline: none !important;
    border-bottom: 2px solid #bbb;
    box-shadow: none;
    background-color: #D9FAFF;
}




.swiper {
    width: 50%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
}