.main {
    min-height: 68.7vh;
    color: #51565a;
}

.snow__text {
    font-size: 1.2em;
    font-family: 'Coiny', cursive;
}

.snow__text-button {
    font-size: 0.8em;
    font-family: 'Coiny', cursive;
}

.snow__title {
    font-family: 'Coiny', cursive;
    color: #00BBF0;
}

label {
    color: #005792;
}

h1 {
    color: #005792;
}

.btn-primary {
    color: white;
    background-color: #005792;
    border-color: #D9FAFF;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    filter: brightness(1.5);
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.custom__field {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #bbb;
    border-radius: 0;
    background-color: #D9FAFF;
}

.custom__field:focus {
    outline: none !important;
    border-bottom: 2px solid #bbb;
    box-shadow: none;
    background-color: #D9FAFF;
}

.bs-example {
    margin: 20px;
}

.popImage {
    border: none;
    background-color: none;
    background: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.popVideo {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: none;
    background: none;
    color: inherit;
}

.item-video {
    position: relative;
}


.modal-content iframe {
    margin: 0 auto;
    display: block;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .modal-dialog {
        margin: 0;
    }
}


.cover__image {
    width: 70vw;
    height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 2vh;
}

.trick__img {
    padding: 5%;
    border-radius: 7vh;
    height: 40vh;
    width: 90%;
    object-fit: cover;
    object-position: 50% 50%;
}

.trick__video {
    z-index: 1;
    padding: 5%;
    border-radius: 7vh;
    height: 40vh;
    width: 90%;
    object-fit: cover;
    object-position: 50% 50%;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .trick__img {
        width: 100%;
    }
    .trick__video {
        width: 100%;
    }
    .cover__image {
        width: 100%;
    }
}

.trick__cover-image-edit span::after {
    content: 'Change the cover image';
}

@media screen and (max-width: 767px) {
    .trick__cover-image-edit span::after {
        content: url(../images/pencil-fill.svg);
    }
}


.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
}

.carousel__next,
.carousel__prev {
    position: absolute;
    width: 40px;
    border: 3px solid #00BBF0;
    height: 40px;
    background: #FFF url(../images/right.svg) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover,
.carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__prev {
    background-image: url(../images/left.svg);
    right: auto;
    left: 5px;
}

.carousel__next--hidden,
.carousel__prev--hidden {
    opacity: 0;
}

.embed-responsive-item {
    width: 40vw;
    height: 40vh;
}

.snow__contributors-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.snow__contributors-content > p:not(:first-child):before {
    content: ' / '
}

/* Delete modal on home page */
.delete__button {
    border: none;
}

.delete__button:hover {
    background: none;
    color: red;
}

/* Trick view page cover image */
.trick__cover-image {
    position: relative;
    text-align: center;
}

.trick__cover-image-name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4vw;
    transform: translate(-50%, -50%);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@media screen and (max-width: 767px) {
    .trick__cover-image-name{
        font-size: 2em;
    }
}

.trick__cover-image-edit {
    position: absolute;
    top: 10%;
    right: 15%;
    background-color: #00BBF0;
    border: 2px solid white;
}

.broken__board {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 15vw;
}

.cover__edit_link:hover {
    color: #005792;
}

.admin__comment_table_td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}