html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #D9FAFF;
}

.bg-dark {
    background-color: #005792 !important;
}

.card-img-top {
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
}

.card-body {
    max-height: 6vh;
}

.trick__actions-button:hover {
    color: #005792;
}

.trick__actions-button {
    color: #005792;
}

h4 {
    color: #005792;
}

