body {
    font-family: 'Roboto', sans-serif;
    background-color: #D9FAFF;
}

.bg-dark {
    background-color: #005792 !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}