<div class="item">
{{form_row(form.fileName)}}
{{form_row(form.type)}}
{{form_row(form.url)}}
{{form_row(form.alt)}}
<div class="form-group">
    <buton type="button" class="btn btn-danger btn-remove">Remove</buton>
</div>
</div>