<a id="loadMore" data-currentPage="1" data-trickId="{{ trick.id }}" class="btn btn-primary"><span class="snow__text">View more comments</span></a>

{% block javascripts %}
    <script language="javascript" src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script language="javascript">
    const addCommentItem = function({comments, total}) {

        comments.forEach(comment => {
            let formatedCreatedAt = moment(comment.createdAt).format("YYYY-MM-DD HH:mm:ss")
            let avatar = comment.user.avatar ? '/uploads/' + comment.user.avatar : '/assets/images/avatar.png'
            $('#comment-section').append(
                `
                <li class="comment user-comment" id="trick__comment">
                    <div class="info">
                        <a href="#">${comment.user.username}</a>
                        <span>${moment(formatedCreatedAt).fromNow()}</span>
                    </div>
                    <a class="avatar" href="#">
                        <img src="${avatar}" width="35" alt="Profile Avatar" title="Anie Silverston"/>
                    </a>
                    <p>${comment.content}</p>
                </li>
                `
            )
        })
    }

    $(document).ready(function(){
        let currentPage = 2;
        const trickId = document.querySelector('#loadMore').dataset.trickid
        $("#loadMore").on("click", function(event){
            $.get("/ajax/comment?page=" + currentPage + "&trickid=" + trickId)
            .then(resp => {
                if (resp.comments.length < 10){
                    currentPage++;
                    addCommentItem(resp);
                    deactivateButton();
                } else if (resp.comments.length + 10 === comments.total){
                    currentPage++;
                    addCommentItem(resp);
                    deactivateButton();
                } else {
                    currentPage++;
                    addCommentItem(resp);
                }
            })
        });
        const deactivateButton = () => {
            document.querySelector('#loadMore').classList.remove('btn-primary');
            document.querySelector('#loadMore').classList.add('btn-secondary');
            document.querySelector('#loadMore').classList.add('disable');
        }
    })
    </script>
{% endblock %}
