{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/_main.css') }}">
{% endblock %}

{% block title %}Edit Trick
{% endblock %}

{% block main %}
	<div class="container main">
		<h1>Edit Trick</h1>

		{{ include('_parts/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_home') }}" class="btn snow__text btn-secondary">Back to list</a>
	</div>
{% endblock %}
